header{
  background-color: rgb(95, 87, 251);
  width: 100%;
  height: 50px;
}
footer{
  clear: both;
  width: 100%;
  height: 70px;
  background-color: rgb(40, 84, 61);
}
nav{
  height: 100%;
}
ul {
list-style-type: none;
overflow: hidden;
margin: 0;
height: 100%;
}
li{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
  background-color: rgb(213, 156, 64);
}
section{
  width: 100%;
  height: 400px;
  background-color: rgb(133, 195, 226);
}
section aside{
  width: 20%;
  height: 400px;
  float: left;
  background-color: rgb(24, 128, 180);
}
section article{
  width: 80%;
  height: 400px;
  float: right;
  background-color: rgb(150, 185, 203);
}

header img{
  height: 90%;
  float: left;
  padding: 0.5% 2% 0 0;
}
#contenido p img {
  margin-left: 200px;
  float: right;
}
#menu-principal li {
  list-style-type: none;
  padding: 10px;
}
