body{
  margin: 20px;
  font-family: verdana;
}
.resaltado{
  background: yellow;

}
#menu-principal{
  padding: 10px, 0px;
}
h1.titulo{
  background: aliceblue;
  text-align: center;
  padding: 10px;
}
footer{
  border-top: solid 1px black;
  padding-top: 10px;
  text-align: center;
  background: blue;
  color: white;
}
